@media (max-width: 1200px){

    html {
      font-size: 55%;
    }

    section {
      padding: 3rem 2rem;
    }
  }
  
  @media (max-width: 768px){
  
    .heading {
      font-size: 12vw;
    }

    .navbar {
      a {
        i {
          padding: 0;
        }
        span {
          display: none;
        }
        &:hover {
          padding-bottom: 2rem;
        }
      }
    }

    .home {
      text-align: center;
      gap: 2rem;
    
      .image img {
        height: 30rem;
        width: 30rem;
      }

      .content {

        h3 {
          font-size: 3rem;
        }

        span {
          font-size: 2.5rem;
        }
      }
    }

    // to coś nie działa xd
    .contact .row form .inputBox input {
      width: 100%;
      margin-bottom: 10rem;
    }

  }

  @media (max-width: 450px){
  
    html {
      font-size: 50%;
    }
  }